baseURL = 'https://moonlab.iiserb.ac.in/'
languageCode = 'en-us'
title = 'Multi Robot Autonomy Lab @ IISER Bhopal'

[params]
  author = 'Moon Lab'
  description = 'Multi Robot Autonomy Lab @ IISER Bhopal'
  googleAnalyticsID = 'G-XXXXXXX'
  logo = 'logo/moonlab.webp'
  google_fonts = [
    "Bebas Neue",
    "Fira Code:wght@300;400;500;600"
  ]



[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'